@import 'variables';

$transition: transform 250ms;

.card {
  position: relative;
  height: get-rem(161.8);
  width: get-rem(100);
  margin: .5rem;
  font-weight: 700;
  font-size: 2rem;
  color: $white;
  transition: $transition;

  &:focus {
    outline: 2px dashed $black;
    outline-offset: 2px;
  }

  &--green {
    background-color: get-contextual-color('green', 2);
  }

  &--blue {
    background-color: get-contextual-color('blue', 3);
  }

  &--yellow {
    background-color: get-contextual-color('yellow', 2);
    color: $black;
  }

  &--active {
    transition: $transition;
    transform: scale(1.1);
  }

  &__corner {
    position: absolute;
    top: .5rem;
    left: .5rem;
    font-size: 1rem;
  }
}
