/* You can add global styles to this file, and also import other style files */
@import '../node_modules/reset-css/sass/reset';
@import './forms';

* {
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 19px;
  background-image: url('./assets/bkg.jpg');
}
