/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'mixins';
@import '../node_modules/reset-css/sass/reset';
@import './forms';

* {
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: $font-size + px;
  background-image: url('./assets/bkg.jpg');
  @include antialias();
}

body {
  padding: 0 $page-padding;
}

/*------------------------------------*\
  #HELPER SELECTORS
\*------------------------------------*/

.h-override-body-pad {
  margin-left: -$page-padding;
  margin-right: -$page-padding;
}

a,
.h-link {
  color: get-contextual-color('red', 1);
  background: none;
  border: none;
  box-shadow: none;
  transition: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    top: 0;
    background: none;
    border: none;
    box-shadow: none;
  }

  &:focus {
    outline: 2px dashed get-contextual-color('red', 1);
    border: none;
    box-shadow: none;
  }
}
