:host {
  display: block;
  position: relative;

  &:after {
    content: '';
    background-image: url('../../../assets/bkg-header.jpg');
    background-size: 150px 150px;
    margin-left: -1rem;
    margin-right: -1rem;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

.page-title {
  font-size: 2rem;
  font-family: 'Turret Road';
  font-weight: 700;
  padding: .5rem 1rem;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,.25);
}
